:root{
  --primary: #020D16;
  --secondary: #00619E;
  --accent: #D7263D;
  --white: #FAFAFA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  color: var(--white);
}